*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #BBB;
    background-image: url('images/wallpaper2.jpg');
    background-position: center;
    background-size: cover;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 1.3rem;
}
.welcome-screen h1{
  font-size: 140px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: 'Lovers Quarrel' ,Italianno,Helvetica,arial,serif;
  color: #421331;
}
.welcome-screen span{
    position:absolute;
    margin:2px 0px 0px 10rem;
    color: #421331;
    opacity: 0.8;
    font-size: 2.7rem;
    font-family:Italianno;
}
.wrapper .welcome-screen .input-wrapper input,.wrapper .welcome-screen .input-wrapper input::placeholder,
.wrapper .welcome-screen .input-wrapper.error input:focus{
  border-radius: 15px;
  font-size: 1.1rem;
  border:1px solid white;
  padding:0px 10px 0px 10px;
  height: 1.6rem;
  text-align:center;
  font-family: inherit;
}
.wrapper .welcome-screen .input-wrapper input:focus{
  outline: none;
}
.wrapper .welcome-screen .input-wrapper button{
      font-size:inherit;
      padding:4px 10px 6px 10px;
      font-family: inherit;
      border-radius: 50%;
      margin: 12px 0px 0px 5px;
      background-color: #421331;
      border:0;
      color: white;
}
.wrapper .welcome-screen .input-wrapper button:hover{
  background-color: #ad6492;
  cursor: pointer;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f1f1f;
    letter-spacing: .6px;
    font-family:'Arima Madurai',Helvetica,arial;
}

.main header {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
    background-color: #1f1f1f;
}

.main footer {
    height: 80px;
    background-color: #282828;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 21px;
    justify-content: center;
    align-items: center;
}
.player-buttons .fa.fa-play,.player-buttons .fa.fa-pause{
  font-size: 1.6rem;
}
.player-buttons .fa {
    margin-right: 2rem;
    margin-left: 1.4rem;
}
.fa-repeat,.fa-random{
  color:#00cccc;
  opacity: 0.7;
}
.fa:hover{
  opacity:1;
}
.fa.disabled{
    color: gray;
}
.fa.disabled:hover{
  color:white;
}

.hidden {
    display: none;
}
.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.wrapper .welcome-screen .input-wrapper.error input{
    border:1px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color:#00cccc;/* #959595;*/
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-length {
    text-align: right;
}

/* Current song display css*/
.main footer {
    position: relative;
}
.main footer .current-song-wrapper {
    position: absolute;
    bottom:0;
    display: flex;
}

.main footer .current-song-wrapper .current-song-image {
    height: 65px;
    width: 70px;
    margin:0.2px 0.5rem 0.4rem 0.5rem;
}

.main footer .current-song-wrapper .current-song-name {
    font-size: 1rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.main footer .current-song-wrapper .current-song-album {
    margin: 0px 0px 0px 0px;
}

.controls_2{
  display: flex;
  position: absolute;
  bottom: 0;
  right:0;
}
.controls_2 .fa{
  margin: 0px 0px 12px -16rem;
  color:#00cccc;
  opacity: 0.8;
}
input[type=range]{
    -webkit-appearance: none;
    height: 3px;
    background: gray;
    width: 130px;
    border: none;
    margin-top: 0.6rem;
    overflow: visible;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #00cccc;
}

input[type=range]:focus {
    outline: none;
}

/*DataTables overrides*/
table.dataTable tbody tr {
background-color: initial;
}
table.dataTable tbody th, table.dataTable tbody td{
  padding:6px 0px 4px 0px;
}
#songs_info {
display: none;
}

#songs_filter {
color: transparent;
}
#songs_filter input {
width: 320px;
height:25px;
/*margin-bottom: 1rem;
font-size: 16px;
border:0;
border-radius:15px;
background-color:#e0e0e0;
outline:none;
padding;*/
}

#songs_filter input:focus {
  border:none;
}

#songs .song{
  cursor:pointer;
}
#songs .song:hover{
  background-color:#282828;
}
